@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html {
background-color: #F8F5ED;
overflow: hidden;
}

main {
  display: flex;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 120%;
}

section #left {
  width: 20%;
}

section #content {
  width: 60%;
}

section #right {
  width: 15%;
}

#home {
  max-width: 67%;
  margin-top: 460%;
  margin-left: 60%;
}

#next {
  max-width: 67%;
  margin-top: 460%;
  margin-left: -60%;
}

#text_home {
  margin-top: -20%;
  margin-left: 75%;
}

#text_next {
  margin-top: -20%;
  margin-left: -45%
}

#story {
  margin-top: -60%;
}

  a:visited, a:link {
    color: black;
  }
